body {
    background-image: url(../../content/images/grid-18px-masked.png);
    background-repeat: repeat-x;
    font-family: "monospace";
}

.md-whiteframe-glow-z2 {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 4px 3px rgba(0, 0, 0, 0.14), 0 0 8px 1px rgba(0, 0, 0, 0.12);
}

.flex-10,
.flex-20,
.flex-25,
.flex-30,
.flex-40,
.flex-50  {
    text-align: right;
}

.highlight {
    font-weight: bold;
}

.md-chips .md-chip-input-container input:not([type]) {
    display: none
}

.asset-stats {
    max-height: 256px;
}

.performances {
    max-height: 128px;
}
