<div ng-show="$ctrl.ptfs.length" layout="row">
    <b flex="20">{{ $ctrl.metric }}</b>
    <b flex="30">To Date</b>
    <b flex="40">{{ $ctrl.kind }}</b>
</div>

<md-content>

    <md-card ng-repeat="ptf in $ctrl.ptfs | orderBy:'-value.created_at' | limitTo:3">

        <div layout="row">
            <span flex="20">{{ ptf.key * 100 | number:1 }}%</span>
            <span flex="30">{{ ptf.value.created_at | limitTo:10 }}</span>
            <span flex="40">
                <span ng-repeat="asset in ptf.value.assets track by $index">
                    {{ asset }}
                </span>
                <md-tooltip>
                    <span ng-repeat="weight in ptf.value.weights track by $index">
                        {{ ptf.value.assets[$index] }}: {{ weight * 100 | number:1 }}%
                    </span>
                </md-tooltip>
            </span>
        </div>

    </md-card>

    <md-card ng-show="!$ctrl.ptfs.length">
        No {{ $ctrl.kind }} portfolios.
    </md-card>

</md-content>
