<h2>Info</h2>

<strong ng-show="vm.optimalPortfolioToDate.optim.solution.length">Optimal Weights ToDate</strong>
<md-content>
    <md-card ng-repeat="weight in vm.optimalPortfolioToDate.optim.solution track by $index">

        <div layout="row">
            <span flex="60">{{ vm.assets[$index].symbol }}</span>
            <span flex="40">{{ weight * 100 | number:1 }}%</span>
        </div>

    </md-card>
</md-content>

<strong ng-show="vm.optimalPortfolioYearToDate.optim.solution.length">Optimal Weights YearToDate</strong>
<md-content>
    <md-card ng-repeat="weight in vm.optimalPortfolioYearToDate.optim.solution track by $index">

        <div layout="row">
            <span flex="60">{{ vm.assets[$index].symbol }}</span>
            <span flex="40">{{ weight * 100 | number:1 }}%</span>
        </div>

    </md-card>
</md-content>

<strong ng-show="vm.optimalPortfolioYearToDate.perf.length">Weekly Performance</strong>
<md-content layout-margin class="performances">
    <md-card ng-repeat="perf in vm.optimalPortfolioYearToDate.perf track by $index">

        <div layout="row">
            <span flex="60">{{ $index }}</span>
            <span flex="40">{{ perf * 100 | number:1 }}%</span>
        </div>

    </md-card>
</md-content>

<md-content>
    <md-card ng-show="!vm.optimalPortfolioToDate.optim.solution.length">
        <p>No basket info available.
        <p>Add three or more assets: all with historical prices available.</p>
    </md-card>
</md-content>
