<h2>Info</h2>

<md-content>
    <strong ng-show="vm.optimalPortfolioToDate.optim.solution.length">Optimal Weights ToDate</strong>
    <md-card ng-repeat="weight in vm.optimalPortfolioToDate.optim.solution">

        <div layout="row">
            <span flex="60">{{ vm.assets[$index].symbol }}</span>
            <span flex="40">{{ weight * 100 | number:1 }}%</span>
        </div>

    </md-card>

    <strong ng-show="vm.optimalPortfolioYearToDate.optim.solution.length">Optimal Weights YearToDate</strong>
    <md-card ng-repeat="weight in vm.optimalPortfolioYearToDate.optim.solution">

        <div layout="row">
            <span flex="60">{{ vm.assets[$index].symbol }}</span>
            <span flex="40">{{ weight * 100 | number:1 }}%</span>
        </div>

    </md-card>

    <md-card ng-show="!vm.optimalPortfolioToDate.optim.solution.length">
        <p>No basket info available.</p>
        <p>Add three or more assets: all with historical prices available.</p>
    </md-card>

</md-content>
