<h2>Recent Best Portfolios</h2>

<div ng-show="vm.bestPerformingPortfolios.length" layout="row">
    <b flex="20">Perf</b>
    <b flex="30">To Date</b>
    <b flex="40">Best</b>
</div>

<md-content>

    <md-card ng-repeat="ptf in vm.bestPerformingPortfolios | orderBy:'-value.created_at' | limitTo:3"
        title="{{ ptf.id }}">

        <div layout="row">
            <span flex="20">{{ ptf.key * 100 | number:1 }}%</span>
            <span flex="30">{{ ptf.value.created_at | limitTo:10 }}</span>
            <span flex="40">
                <span ng-repeat="asset in ptf.value.assets">
                    {{ asset }}
                </span>
            </span>
        </div>

    </md-card>

    <md-card ng-show="!vm.bestPerformingPortfolios.length">
        No best portfolios.
    </md-card>

</md-content>

<div ng-show="vm.lowProfileRiskPortfolios.length" layout="row">
    <b flex="20">Risk</b>
    <b flex="30">To Date</b>
    <b flex="40">Low</b>
</div>

<md-content>

    <md-card ng-repeat="ptf in vm.lowProfileRiskPortfolios | orderBy:'-value.created_at' | limitTo:3"
        title="{{ ptf.id }}">

        <div layout="row">
            <span flex="20">{{ ptf.key * 100 | number:1 }}%</span>
            <span flex="30">{{ ptf.value.created_at | limitTo:10 }}</span>
            <span flex="40">
                <span ng-repeat="asset in ptf.value.assets">
                    {{ asset }}
                </span>
            </span>
        </div>

    </md-card>

    <md-card ng-show="!vm.lowProfileRiskPortfolios.length">
        No low profile risk portfolios.
    </md-card>

</md-content>

<div ng-show="vm.highProfileReturnPortfolios.length" layout="row">
    <b flex="20">Ret</b>
    <b flex="30">To Date</b>
    <b flex="40">High</b>
</div>

<md-content>

    <md-card ng-repeat="ptf in vm.highProfileReturnPortfolios | orderBy:'-value.created_at' | limitTo:3"
        title="{{ ptf.id }}">

        <div layout="row">
            <span flex="20">{{ ptf.key * 100 | number:1 }}%</span>
            <span flex="30">{{ ptf.value.created_at | limitTo:10 }}</span>
            <span flex="40">
                <span ng-repeat="asset in ptf.value.assets">
                    {{ asset }}
                </span>
            </span>
        </div>

    </md-card>

    <md-card ng-show="!vm.highProfileReturnPortfolios.length">
        No high profile return portfolios.
    </md-card>

</md-content>
