<h2>Basket</h2>

<md-autocomplete
    md-search-text="$ctrl.searchText"
    md-selected-item-change="$ctrl.selectedItemChange(item)"
    md-items="item in $ctrl.querySearch($ctrl.searchText)"
    md-item-text="item.symbol"
    md-min-length="1"
    placeholder="What assets to be added?">
    <md-item-template>
        <span md-highlight-text="$ctrl.searchText" md-highlight-flags="ig">
            {{item.symbol}} {{item.name}} ({{item.type}} - {{item.exchDisp}})
        </span>
    </md-item-template>
    <md-not-found>
        No asset matching "{{$ctrl.searchText}}" were found.
    </md-not-found>
</md-autocomplete>

<md-chips ng-model="$ctrl.assets"
    md-require-match="true"
    md-on-remove="$ctrl.chipOnRemove($chip)">
    <md-chip-template>
        <span>
            <strong>{{$chip.symbol}}</strong> {{$chip.name}}
            <em>({{$chip.type}} - {{$chip.exchDisp}})</em>
        </span>
    </md-chip-template>
</md-chips>

<h2>Most Used Assets <span ng-show="$ctrl.portfolioCount">in {{ $ctrl.portfolioCount }} portfolios</span></h2>

<md-chips ng-model="$ctrl.mostUsedAssets" readonly="true">
    <md-chip-template>
        <span>
            {{$chip[0]}}: {{$chip[1]}}
        </span>
    </md-chip-template>
</md-chips>
