<h2>Last Asset Stats</h2>

<md-content class="asset-stats">

    <strong ng-hide="$ctrl.assetStats.noAssets">{{ $ctrl.assetStats.symbol}}</strong>
    <md-card ng-hide="$ctrl.assetStats.noAssets" ng-repeat="(label, value) in $ctrl.assetStats.stats">

        <div layout="row" ng-if="value.fmt">
            <span flex="75">{{ label }}</span>
            <span flex="25">{{ value.fmt }}</span>
        </div>

    </md-card>

    <md-card ng-show="$ctrl.assetStats.noAssets">
        No asset stats available.
    </md-card>

</md-content>
